html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

hr {
	margin: 1rem 0;
	color: white;
	background-color: white;
	border: 0;
	opacity: 0.25;
	border-color: 2px white;
}

.imagenLogo {
	width: 80px;
}

.cabecera {
	background-color: #212529;
}

.imgOcultar {
	visibility: hidden;
	display:none;
}

@media only screen and (max-width: 790px) {
	.imgAparecer {
		visibility: hidden;
		display:none;
	}
	.imgOcultar {
		visibility: visible;
		display:block;
	}
}